#changePasswordModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-dialog-centered
    form.modal-content(action=`/user/change-password`, method='POST')
      .modal-header
        h5.modal-title Change password
      .modal-body
        input(type='hidden', name='_csrf', value=csrfToken)
        .form-group
          label(for='plainPassword') Current password
          input#plainPassword.form-control(
            type='password',
            name='plainPassword',
            required
          )
          +formFieldError(changePasswordForm.errors, 'plainPassword')
        .form-group
          label(for='newPlainPassword') New password
          input#newPlainPassword.form-control(
            type='password',
            name='newPlainPassword',
            required
          )
          +formFieldError(changePasswordForm.errors, 'newPlainPassword')
        .form-group
          label(for='repeatedNewPlainPassword') Repeat new password
          input#repeatedNewPlainPassword.form-control(
            type='password',
            name='repeatedNewPlainPassword',
            required
          )
          +formFieldError(changePasswordForm.errors, 'repeatedNewPlainPassword')
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='submit') Confirm
