extends ../base

block content
  p Welcome #{user.username}. This is homepage.
  p
    a(href='/change-password') Change password
  p
    a(href='/sign-out') Log out
  h1 Applets
  each applet in applets
    div
      p
        b Name: #{applet.name}
      p Description: #{applet.description}
      if applet.token
        form(action=`/applets/${applet.id}/unsubscribe`, method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          button(type='submit') Unsubscribe
      else
        form(action=`/applets/${applet.id}/subscribe`, method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          label(for='expression') Time expression
          input#expression(type='text', name='expression')
          each parameter in JSON.parse(applet.parameters)
            label(for=parameter)= parameter.charAt(0).toUpperCase() + parameter.slice(1)
            input(type='text', id=parameter, name=parameter, required)
          button(type='submit') Subscribe
  else
    div No applets :(