extends ../../../views/base

block content
  h1 Discord applet
  if userApplet
    - var config = JSON.parse(userApplet.configuration);
    p You are subscribed to daily reports from #{config.country}
    form(
      action=`/applets/covid19-report-discord/unsubscribe/${userApplet.identifier}`,
      method='POST'
    )
      input(type='hidden', name='_csrf', value=csrfToken)
      button(type='submit') Unsubscribe
  else
    form(action='/applets/covid19-report-discord/subscribe', method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)
      label(for='hour') Hour
      input#hour(type='number', name='hour', max=24, min=0, required)
      label(for='minute') Minute
      input#minute(type='number', name='minute', max=60, min=0, required)
      label(for='country') Country
      select(name='country')
        each country in countries
          option(value=country) #{country}
      button(type='submit') Subscribe
