include ./mixins

doctype html
html(lang='en')
  head
    title= seo ? seo.title : "IFTTT"
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes'
    )
    link(
      rel='apple-touch-icon',
      sizes='180x180',
      href='/images/apple-touch-icon.png'
    )
    link(
      rel='icon',
      type='image/png',
      sizes='32x32',
      href='/images/favicon-32x32.png'
    )
    link(
      rel='icon',
      type='image/png',
      sizes='16x16',
      href='/images/favicon-16x16.png'
    )
    link(rel='manifest', href='/site.webmanifest')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'
    )
    link(
      rel='stylesheet',
      href='https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css'
    )
    link(rel='stylesheet', href='/stylesheets/styles.min.css')
  body.bg-light
    include ./partials/header
    block content
    include ./partials/clouds
    include ./partials/flashes
    script(src='https://kit.fontawesome.com/f3ae0f0ec8.js')
    script(src='https://unpkg.com/jquery@3.4.1/dist/jquery.min.js')
    script(
      src='https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js'
    )
    script(src='/javascripts/index.min.js')
    block scripts
