extends ../base

block content
  main.container
    .row.ifttt-fill-height
      .col-lg-7.d-lg-flex.flex-lg-column.justify-content-lg-center.d-none
        h1.display-3.font-weight-bolder Connecting your apps together
        h4.text-muted Easy automation for busy people. It's awesome. Be lazy. Sign up today and start automating.
      .col-lg-4.offset-lg-1.d-flex.flex-column.justify-content-center
        form.card(action=`/auth/reset-password/${identifier}`, method='POST')
          .card-header Reset your password
          .card-body
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              label(for='plainPassword') Password
              input#plainPassword.form-control(
                type='password',
                name='plainPassword',
                required
              )
              +formFieldError(form.errors, 'plainPassword')
            .form-group
              label(for='repeatedPlainPassword') Repeat password
              input#repeatedPlainPassword.form-control(
                type='password',
                name='repeatedPlainPassword',
                required
              )
            button.btn.btn-block.btn-primary(type='submit') Change password
          .card-footer
            .small Remembered your password?
              |
              |
              a(href='/auth/sign-in') Sign in
